<p>The following message was sent by http://wcai-web.wharton.upenn.edu</p>

<p>The <%= @instance.project.name %> server has been on for more than three hours. Please ensure this is intentional.</p>

<p>If you would like to turn it off, you can visit <%= server_connections_url(@instance) %> to view open connections.</p>

<p>If you received this message in error please contact wcai-research@wharton.upenn.edu</p>