<h1>A little about the stack</h1>

<p>This project is located in /var/www/projects on wcai-web. VPN access is required to
  reach the machine.</p>

<p>Phusion Passenger runs the application. If you would like to restart simply run touch tmp/restart.txt</p>

<p>Using a remote wharton database (for more info contact IT).</p>