<h3>CREATING A USER:</h3>
<ol>
  <li>Navigate to wcai-web.wharton.upenn.edu/projects/users/sign_in</li>
  <li>Enter your email and password</li>
  <li>On the right-hand side, under “CREATE”, click “USERS”

<%= image_tag "wcaiweb create user step 3.jpg" %></li>

  <li>Choose “ADMIN”, “RESEARCH ASSISTANT” or “RESEARCHER” from the ROLE drop-down menu.</li>
  <li>Add the email addresses of all the users you would like to create.</li>
  <li>Click “SEND”<br />

<%= image_tag "wcaiweb create user step 6.jpg" %></li>

</ol>