<h3>CREATING A PROJECT:</h3>
<ol>
  <li>Navigate
    to <%= link_to "wcai-web.wharton.upenn.edu/users/sign_in", "//wcai-web.wharton.upenn.edu/users/sign_in" %> </li>
  <li>Enter your email and password</li>
  <li>On the right-hand side, under “CREATE”, click “PROJECT”<br/>

    <%= image_tag "wcaiweb create project step 3.jpg" %></li>

  <li>Select the Project Manager’s name from the drop-down menu and enter the project name, start date, folder name and
    description (optional).<br/>

    <%= image_tag "wcaiweb create project step 4.jpg" %> </li>

  <li>Click “CREATE PROJECT” at the bottom.<br/>

    <%= image_tag "wcaiweb create project step 5.jpg" %> </li>

</ol>
