<h3>DISABLING A USER:</h3>
<ol>
  <li>Navigate to wcai-web.wharton.upenn.edu/projects/users/sign_in</li>
  <li>Enter your email and password</li>
  <li>On the right-hand side, under VIEW, click “Users”.

    <%= image_tag "wcaiweb disable user step 3.jpg" %></li>


  <li>In “Users”, everyone who has been granted access to your project will be listed, along with their contact
    information and organization. To disable a user, click the red “lock user” button next to their organization.

    <%= image_tag "wcaiweb disable user step 4.jpg" %></li>

  <li>To unlock a user and grant access again, click the gray “unlock user” button.

    <%= image_tag "wcaiweb disable user step 5.jpg" %></li>
</ol>
