<h3>USER INTERFACE: DOWNLOADING FILES</h3>
<ol>
  <li>Navigate to wcai-web.wharton.upenn.edu/projects</li>
  <li>Enter your credentials and log in.</li>
  <li>Select your desired project from the PROJECTS list.
    In this case, we’ll be working with the “Sample Project” company.</li>
  <li>Under “Actions”, select the “Project Files” button.

    <%= image_tag "wcaiweb downloading files step 4.jpg" %> </li>

  <li>Open the folder by clicking on it, and select the file you want to download.

  <%= image_tag "wcaiweb downloading files step 5.jpg" %></li>

  <li>Download and save or open the file to your computer.</li>
</ol>
