<h3>LINKING PROJECTS IN AWS and WCAI-WEB</h3>
<h5>First, In AWS:</h5>
<ol>
  <li>Navigate to aws.amazon.com</li>
  <li>Under “My Account/Console”, choose “AWS Management Console”

   <%= image_tag "link aws wcaiweb step 2.jpg" %></li>

  <li>Enter credentials:
    <ul>
    <li>Username: efeit@wharton.upenn.edu</li>
    <li>Password: <%= Settings.aws_password %></li>
    </ul></li>

  <li>Under “Storage & Content Delivery”, click “S3”

<%= image_tag "link aws wcaiweb step 4.jpg" %></li>

  <li>Click “projects.wcai”<br />

<%= image_tag "link aws wcaiweb step 5.jpg" %></li>

  <li>Click “Create Folder” and click the check to create it</li>
  <li>Click your project – in this case, “Sample Project”</li>
  <li>Click the blue “Upload” button, and select the files you want
    to upload into the folder. In this case, we’ll upload Sample File.docx</li>
</ol>

<h5>Then, in WCAI-WEB:</h5>
<ol>
  <li>Navigate to wcai-web.wharton.upenn.edu/projects</li>

  <li>Enter your credentials and log in</li>

  <li>In the right-hand side bar, under CREATE, choose “Project”</li>

  <li>On the NEW PROJECT page, select a Project Manager and start date. Under “Folder Name”,
    enter the same name you gave to your AWS Project – in this case “Sample Project”</li>

  <li>Click “Create Project”</li>
</ol>
