aws_access_key : 'AWSACCESSKEY'
aws_secret_key : 'AWSSECRETKEY'
aws_bucket : 'BUCKET_USED_TO_STORE_FILES'
mysql_root_password : 'INSTANCE SQL ROOT PASSWORD. This should be secure, but the root user can only access the database from wcai-web or the local machine'
aws_password : 'Used for instructions. This is the password used to access the aws management console'
keypair_path : '/path/to/instance/keypair'