<h1><%= @project.company.name %> Data Files</h1>

<ul class="file_list">
	<%= print_directory_structure(@root, @project_files) %>
</ul>

<br />

<%= link_to 'New Project file', new_project_project_file_path(@project) %>
