.navbar .brand a {
  color: #222;
  &:hover {
    color: #000;
    background-color: #aaaaaa;
  }

}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

li a {
  color: #0480be;
}

a {
  &:hover {
    color: #000;
    text-decoration: none;
  }

}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}
