<html>
<head>
  <%= wicked_pdf_stylesheet_link_tag "application" %>
  <%= wicked_pdf_javascript_include_tag "application" %>
  <style>
      h4 {
          background-color: #4777ff;
          text-align: center;
      }

      h6 {
          background-color: #4777ff;
          text-align: center;
      }

      .page-break {
          display: block;
          clear: both;
          page-break-after: always;
      }

      h2 {
          text-align: center;
      }
  </style>
</head>
<body>
<%= yield %>

</body>
</html>